	<form action="/pessoa/update/<%=pessoa.id%>" method="POST" class="edit">
	<div class="form-group">
		<h2> editing a pessoa... </h2>
		<% if(flash && flash.err) { %>
<ul class="alert alert-success">
<% Object.keys(flash.err).forEach(function(error) { %>
<li><%- JSON.stringify(flash.err[error]) %></li>
<% }) %>
</ul>
<% } %>
		
	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= pessoa.nome %>" name="nome" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= pessoa.numero %>" name="numero" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= pessoa.email %>" name="email" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= pessoa.facebook %>" name="facebook" type="text" class="form-control"/>
	</div>

		</div>
		<input type="submit" value="Update Pessoa" class="btn btn-default"/>
		<a href="/pessoa/show/<%=pessoa.id %>" class="btn btn-danger">Cancel</a>
	</form>
	
	